$div_background: #ffffff;
$button_color: #22bd7e;
$button_hover_color: #1da16b;
$no_border: 0;
$div_width: 300px;
$input_background: #f2f2f2;
$box_size: border-box;
$box_shaddow: 0px 1px 5px black;
$normal_font_size: 15px;
$auto_center_margin: 0, auto;
$lightblue: rgb(9, 181, 238);
$red: rgb(238, 9, 59);
$green: rgb(6, 175, 6);